absl-py==1.2.0
altair==4.2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
attrs==22.1.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==5.0.1
blinker==1.5
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
config==0.5.1
constantly==15.1.0
cryptography==38.0.1
cssselect==1.1.0
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Django==4.1.2
django-googlesearch==0.2
dnspython==2.2.1
docopt==0.6.2
email-validator==1.3.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
executing==1.2.0
fastapi==0.87.0
fastjsonschema==2.16.2
filelock==3.8.0
Flask==2.2.2
flatbuffers==1.12
fonttools==4.34.4
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlesearch-python==1.1.0
grpcio==1.48.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.7.0
html5lib==1.1
httpcore==0.15.0
httptools==0.5.0
httpx==0.23.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==5.0.0
incremental==21.3.0
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.17.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.2
jupyter_client==7.4.5
jupyter_core==5.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.1
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
MechanicalSoup==1.2.0
mechanize==0.4.8
mistune==2.0.4
msedge-selenium-tools==3.141.4
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.1
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.8.1
outcome==1.2.0
packaging==21.3
pandas==1.4.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
pdfminer.six==20220524
pdfquery==0.4.3
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.11
platformdirs==2.5.4
plotly==5.11.0
prometheus-client==0.15.0
prompt-toolkit==3.0.32
Protego==0.2.1
protobuf==3.19.4
psutil==5.9.4
pure-eval==0.2.2
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.2
pydeck==0.8.0
PyDispatcher==2.0.6
pygame==2.1.2
Pygments==2.13.0
PyJWT==2.5.0
Pympler==1.0.1
pyOpenSSL==22.1.0
pyparsing==3.0.9
PyPDF2==2.11.1
pyperclip==1.8.2
pyquery==1.4.3
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.5
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pywinpty==2.0.9
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
queuelib==1.6.2
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.6.0
robobrowser==0.5.3
roman==3.3
rsa==4.9
scikit-learn==1.1.1
scipy==1.9.0
scraper==0.1.0
Scrapy==2.6.3
seaborn==0.11.2
selenium==3.141.0
semver==2.13.0
Send2Trash==1.8.0
service-identity==21.1.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.6.1
starlette==0.21.0
streamlit==1.15.1
tenacity==8.1.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tldextract==3.3.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
trio==0.22.0
trio-websocket==0.9.2
twilio==7.14.2
Twisted==22.8.0
twisted-iocpsupport==1.0.2
typing_extensions==4.3.0
tzdata==2022.5
tzlocal==4.2
ujson==5.5.0
Unidecode==1.3.6
urllib3==1.26.11
useragent==0.1.1
uvicorn==0.19.0
validators==0.20.0
w3lib==2.0.1
watchdog==2.1.9
watchfiles==0.18.1
wcwidth==0.2.5
webbot==0.34
webdriver-manager==3.8.3
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==4.0.3
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
yarg==0.1.9
zipp==3.10.0
zope.interface==5.4.0
